body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #474353;  
}

.headerleft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 16em;
    padding-left: 240px;
    color: #F9FAF8;
    font-size: 24px;
}

a:link {
    color: #F9FAF8;
    text-decoration: none!important;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 16px;
    padding-right: 240px;    
}

.headerbody{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: #474353;
    padding: 90px;
}

.headerp {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.chipin {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #acacac;
    padding: 10px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

.pagemiddle {
    align-items: center;
    padding: 60px;
}

.middleinfocontainers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.middleheader {
    padding: 25px;
    font-size: 36px;
    font-weight: bolder;
    color: #58418f;
}

.middleinfocontainers img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #58418f;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.pagemiddle2 {
    padding: 60px;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;   
}

.quote {
    font-size: 36px;
    padding: 40px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quotefrom {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
}

.pagelower {
    background-color: #58418f;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}
.lowercontent {
    flex: 1;
}

.ltext {
    text-align: left;
}

h3 {
    
    color: #fff;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0px 0px 50px;
}

.ltext p {
    color: #fff;
    font-style: italic;
    
    margin: 5px 30px 30px 50px;   
}

.chipin2 {
    text-align: right;
    color: #fff;
    border-color: #fff;
    border-radius: 8px;
    background-color: #58418f;
    padding: 5px 25px;
    font-size: 15px;
}


.footer {
    padding: 25px;
    color: #fff;
    background-color: #474353;
}